# Reviewbot follows a zero-configuration approach in its design, where the default behavior implemented in the code should be suitable for the majority of scenarios.
# Configuration of the file is only necessary in special cases, such as:
# 1. Using specific commands for a particular repository.
# 2. Modifying the default global configuration.
# 3. Conducting specific gray testing for a particular feature.

globalDefaultConfig: # global default settings, will be overridden by qbox org and repo specific settings if they exist
  githubReportType: "github_check_run" # github_pr_review, github_check_run

customConfig: # custom config for specific orgs or repos
  qbox: # github organization name
    golangci-lint:
      enable: true
      args: ["run", "-D", "staticcheck"] # disable staticcheck globally since we have a separate linter for it

  qbox/net-cache:
    luacheck:
      enable: true
      workDir: "nginx" # only run in the nginx directory since there are .luacheckrc files in this directory
  qbox/net-cache:
    golangci-lint:
      enable: true
      args: ["run", "--enable-all","-D", "staticcheck", "--timeout","5m0s"] # disable staticcheck globally since we have a separate linter for it      
  qbox/net-gslb:
    golangci-lint:
      enable: true
      args: ["run", "--enable-all","-D", "staticcheck","--timeout","5m0s"] # disable staticcheck globally since we have a separate linter for it      

  qbox/kodo:
    staticcheck:
      enable: true
      workDir: "src/qiniu.com/kodo" # only run in the src/qiniu.com/kodo directory since this is a monorepo