# Reviewbot follows a zero-configuration approach in its design, where the default behavior implemented in the code should be suitable for the majority of scenarios.
# Configuration of the file is only necessary in special cases, such as:
# 1. Using specific commands for a particular repository.
# 2. Modifying the default global configuration.
# 3. Conducting specific gray testing for a particular feature.

globalDefaultConfig: # global default settings, will be overridden by qbox org and repo specific settings if they exist
  githubReportType: "github_check_run" # github_pr_review, github_check_run
  golangcilintConfig: "config/linters-config/.golangci.yml" # golangci-lint config file to use
  javapmdcheckruleConfig: "config/linters-config/.java-bestpractices.xml"   # Path to a ruleset xml file.  The path may be a local file system path, or a URL. if not config reviewbot will auto download the  https://raw.githubusercontent.com/pmd/pmd/master/pmd-java/src/main/resources/category/java/bestpractices.xml
  javastylecheckruleConfig: "config/linters-config/.java-sun-checks.xml"    # Path to a ruleset xml file.  The path may be a local file system path, or a URL.  if not config reviewbot will auto download the https://raw.githubusercontent.com/checkstyle/checkstyle/master/src/main/resources/sun_checks.xml

customConfig: # custom config for specific orgs or repos
  qbox/net-cache:
    golangci-lint:
      enable: true
      args: ["run", "--enable-all", "--timeout=5m0s", "--allow-parallel-runners=true"] # disable staticcheck globally since we have a separate linter for it      
  qbox/net-gslb:
    golangci-lint:
      enable: true
      args: ["run", "--enable-all", "--timeout=5m0s", "--allow-parallel-runners=true"] # disable staticcheck globally since we have a separate linter for it      

  qbox/kodo:
    golangci-lint:
      enable: true
      workDir: "src/qiniu.com/kodo"
      args: ["run", "--enable-all", "--timeout=5m0s", "--allow-parallel-runners=true"] 
