# Reviewbot follows a zero-configuration approach in its design, where the default behavior implemented in the code should be suitable for the majority of scenarios.
# Configuration of the file is only necessary in special cases, such as:
# 1. Using specific commands for a particular repository.
# 2. Modifying the default global configuration.
# 3. Conducting specific gray testing for a particular feature.

globalDefaultConfig: # global default settings, will be overridden by qbox org and repo specific settings if they exist
  githubReportType: "github_check_run" # github_pr_review, github_check_run
  golangcilintConfig: "config/linters-config/.golangci.yml" # golangci-lint config file to use

customConfig: # custom config for specific orgs or repos
  qbox/kodo:
    golangci-lint:
      enable: true
      command:
        - "/bin/sh"
        - "-c"
        - "--"
      args:
        - |
          source env.sh
          cp .golangci.yml src/qiniu.com/kodo/.golangci.yml
          cd src/qiniu.com/kodo
          ls -ltra
          golangci-lint run --timeout=10m0s --allow-parallel-runners=true --print-issued-lines=false --out-format=line-number >> $ARTIFACT/lint.log 2>&1

  qbox/kodo-ops:
    golangci-lint:
      enable: true
      command:
        - "/bin/sh"
        - "-c"
        - "--"
      args:
        - |
          cd website && yarn build && cd ..
          golangci-lint run --enable-all --timeout=5m0s --allow-parallel-runners=true --print-issued-lines=false --out-format=line-number >> $ARTIFACT/lint.log 2>&1

  qbox/dora-cloud:
    golangci-lint:
      enable: true
      workDir: "next" # go.mod file is in the next directory

  qbox/sofa:
    golangci-lint:
      enable: true
      workDir: "sofa" # go.mod file is in the sofa directory

  qbox/user-center:
    golangci-lint:
      enable: true
      command:
        - "/bin/sh"
        - "-c"
        - "--"
      args:
        - |
          cd uc
          golangci-lint run --timeout=10m0s --allow-parallel-runners=true --print-issued-lines=false --out-format=line-number >> $ARTIFACT/lint.log 2>&1
          cd uc-biz
          golangci-lint run --timeout=10m0s --allow-parallel-runners=true --print-issued-lines=false --out-format=line-number >> $ARTIFACT/lint.log 2>&1
